<?xml version='1.0' encoding='utf-8'?>
<widget id="io.ylxdzsw.YLnews" version="0.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>炎陵新闻</name>
    <description>
        基于Cordova制作的新闻客户端，用于从网络上收集关于炎陵的新闻并以一种统一的形式呈现。
    </description>
    <author email="ylxdzsw@gmail.com" href="https://github.com/ylxdzsw">
        ylxdzsw
    </author>
    <content src="main.html" />
    <icon src="res/icon/icon.png" />
    <access origin="*" />
</widget>
