<?xml version='1.0' encoding='utf-8'?>
<widget id="io.ylxdzsw.YLnews" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>YLnews</name>
    <description>
        A simple application that fetches news about Yan Ling.
    </description>
    <author email="ylxdzsw@gmail.com" href="https://github.com/ylxdzsw">
        ylxdzsw
    </author>
    <content src="main.html" />
    <icon src="www/assets/logo.png" />
    <access origin="*" />
</widget>
